<a href="https://colab.research.google.com/github/AMRUTHAGANESH/5days_python_workshop/blob/master/Day3_session2_exercise-programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python Program to Print Multiplication Table of a number which got through keyboard.

In [1]:
num = int(input("Enter the number: "))
 
print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 5
Multiplication Table of 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

#Write a Python Program to find the Armstrong Numbers between 1 and 2000 ( i.e 153 is amtrong numbers as 13+53+3**3=153 )

In [2]:
print("Enter the interval (starting and ending number): ");
start = input();
if start == 'x':
    exit();
else:
    end = input();
    lower = int(start);
    upper = int(end);
    for num in range(lower, upper+1):
        tot = 0;
        temp = num;
        while temp != 0:
            dig = temp % 10;
            tot += dig ** 3;
            temp //= 10;
        if num == tot:
            print(num);

Enter the interval (starting and ending number):
2
2001
153
370
371
407

#Write a python program to get the list of tuples (rollno, name) for n students by getting rollno and name through keyboard. Sort and print them as rollno wise and name wise both ascending and descending as well as alphabetical and dealphabetical orders

In [3]:
l=[]
def inp():
  name = input('Name : ')
  rolno = input(' Rol No : ')
  return (name,rolno)  # returns tuples
 
n = int(input('Number of Students : '))
for x in range(n):
  l.append(inp())
 
print(f'Original : {l}')
 
l.sort(key = lambda x:x[1])
print(f'According to Rol No : Ascending :{l}')
print(f'According to Rol No : Descending :{l[::-1]}')
 
l.sort(key = lambda x:x[0])
print(f'According to Name : Ascending :{l}')
print(f'According to Name : Descending :{l[::-1]}')

Number of Students : 5
Name : amrutha
 Rol No : 6
Name : ajay
 Rol No : 7
Name : keerthan
 Rol No : 9
Name : dhana
 Rol No : 10
Name : baba
 Rol No : 11
Original : [('amrutha', '6'), ('ajay', '7'), ('keerthan', '9'), ('dhana', '10'), ('baba', '11')]
According to Rol No : Ascending :[('dhana', '10'), ('baba', '11'), ('amrutha', '6'), ('ajay', '7'), ('keerthan', '9')]
According to Rol No : Descending :[('keerthan', '9'), ('ajay', '7'), ('amrutha', '6'), ('baba', '11'), ('dhana', '10')]
According to Name : Ascending :[('ajay', '7'), ('amrutha', '6'), ('baba', '11'), ('dhana', '10'), ('keerthan', '9')]
According to Name : Descending :[('keerthan', '9'), ('dhana', '10'), ('baba', '11'), ('amrutha', '6'), ('ajay', '7')]

#Python Program to Detect if Two Strings are Anagrams ( They are the two strings which have same length and same words which may be different in their order)

In [4]:
def check(s1, s2): 
    if(sorted(s1)== sorted(s2)): 
        print("The strings are anagrams.") 
    else: 
        print("The strings aren't anagrams.")        
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.