<a href="https://colab.research.google.com/github/AMRUTHAGANESH/5days_python_workshop/blob/master/Day3_session1_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python program to find numbers between 100 and 400 (both included) which are divisable both by 5 or 7. The numbers obtained should be printed in a comma-separated sequence

In [1]:
nl=[]
for x in range(100, 400):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

105,140,175,210,245,280,315,350,385

#Write a Python program to find prime numbers between 200 and 600 (both included). The numbers obtained should be printed in a comma-separated sequence

In [3]:
a=[]
for num1 in range(200, 600):
      if num1 > 1:
       for i in range(2, num1):
           if (num1 % i) == 0:
               break
       else:
              k=num1
              a.append(str(num1))
print(','.join(a))

211,223,227,229,233,239,241,251,257,263,269,271,277,281,283,293,307,311,313,317,331,337,347,349,353,359,367,373,379,383,389,397,401,409,419,421,431,433,439,443,449,457,461,463,467,479,487,491,499,503,509,521,523,541,547,557,563,569,571,577,587,593,599

#Write a Python program to find All Numbers which are Odd and Palindromes Between a Range of Numbers without using Recursion. The numbers obtained should be printed in a comma-separated sequence

In [4]:

a=[]
l=int(input("Enter lower limit: "))
u=int(input("Enter upper limit: "))
a=[x for x in range(l,u+1) if x%2!=0 and str(x)==str(x)[::-1]]
print("The numbers are: ",a)

Enter lower limit: 4
Enter upper limit: 7
The numbers are:  [5, 7]

#Write a Python Program to read a number n and print the series “5+10+…..+n = sum upto n ” . The numbers should be printed as they are shown in the quotes with sum of numbers upto n

In [5]:
a=[]
b=0
n=int(input("Enter the value of n"))
while(b<n):
  b=5+b
  a.append(str(b))
print('+'.join(a))

Enter the value of n60
5+10+15+20+25+30+35+40+45+50+55+60